<a href="https://colab.research.google.com/github/ahcamachod/1985-python-collections-listas-y-tuplas/blob/aula-5/Colecciones_Parte_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

In [ ]:
edad1 = 15
edad2 = 18
edad3 = 59
edad4 = 71

print(edad1)
print(edad2)
print(edad3)
print(edad4)

15
18
59
71

In [ ]:
edades = [15,18,59,71]

In [ ]:
type(edades)

list

In [ ]:
edades.append(35)
edades

[15, 18, 59, 71, 35]

In [ ]:
edades.append(18)

In [ ]:
edades

[15, 18, 59, 71, 35, 18]

In [ ]:
edades.remove(18)
edades

[15, 59, 71, 35, 18]

In [ ]:
len(edades)

5

In [ ]:
edades.insert(1,18)
edades

[15, 18, 59, 71, 35, 18]

In [ ]:
edades.clear()

In [ ]:
edades

[]

In [ ]:
edades = [15, 18, 59, 71, 35, 18]

In [ ]:
edades.append([45,35])

In [ ]:
edades

[15, 18, 59, 71, 35, 18, [45, 35]]

In [ ]:
edades.extend([45,35])
edades

[15, 18, 59, 71, 35, 18, [45, 35], 45, 35]

In [ ]:
edades.remove([45, 35])
edades

[15, 18, 59, 71, 35, 18, 45, 35]

In [ ]:
65 in edades

False

In [ ]:
45 in edades

True

In [ ]:
for edad in edades:
  print(edad+1)

16
19
60
72
36
19
46
36

In [ ]:
edades_proximo_ano = []
for edad in edades:
  edades_proximo_ano.append(edad+1)
edades_proximo_ano

[16, 19, 60, 72, 36, 19, 46, 36]

### List Comprehension

In [ ]:
edades_proximo_ano = [edad + 1 for edad in edades]
edades_proximo_ano

[16, 19, 60, 72, 36, 19, 46, 36]

In [ ]:
mayores_de_edad_pa = [edad + 1 for edad in edades if edad > 21]
mayores_de_edad_pa

[60, 72, 36, 46, 36]

### Problemas con la mutabilidad de las listas

In [ ]:
def analisis_listas(lista):
  print(id(lista))
  print(len(lista))
  lista.append(13)
  return lista

In [ ]:
edades = [16, 19, 60, 72, 36, 19, 46, 36]

In [ ]:
analisis_listas(edades)

137944113736000
8

[16, 19, 60, 72, 36, 19, 46, 36, 13]

In [ ]:
def analisis_listas(lista=[]):
  print(id(lista))
  print(len(lista))
  lista.append(13)
  return lista

In [ ]:
analisis_listas()

137944129141312
0

[13]

In [ ]:
analisis_listas()

137944129141312
1

[13, 13]

In [ ]:
def analisis_listas(lista=None):
  print(id(lista))
  if lista == None:
    lista = list()
    print(id(lista))
  print(len(lista))
  lista.append(13)
  return lista

In [ ]:
analisis_listas()

98221330310112
137944113778816
0

[13]

In [ ]:
analisis_listas()

98221330310112
137944113785984
0

[13]

In [ ]:
class CuentaCorriente:
  def __init__(self,codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self,valor):
    self.saldo += valor

  def __str__(self):
    return f'>>>Código: {self.codigo} -- Saldo: {self.saldo}<<<'

In [ ]:
cuenta_alvaro = CuentaCorriente(16)
cuenta_alvaro.deposita(500.0)
cuenta_stef = CuentaCorriente(17)
cuenta_stef.deposita(1000.0)

In [ ]:
cuentas = [cuenta_alvaro, cuenta_stef]

In [ ]:
for cuenta in cuentas:
  print(f'El espacio de memoria es: {id(cuenta)}')
  print(cuenta)

El espacio de memoria es: 137944113750192
>>>Código: 16 -- Saldo: 500.0<<<
El espacio de memoria es: 137944113750960
>>>Código: 17 -- Saldo: 1000.0<<<

In [ ]:
for cuenta in cuentas:
  print(f'El espacio de memoria es: {id(cuenta)}')
  print(cuenta)

El espacio de memoria es: 137944113750192
>>>Código: 16 -- Saldo: 500.0<<<
El espacio de memoria es: 137944113750960
>>>Código: 17 -- Saldo: 1000.0<<<

In [ ]:
cuentas = [cuenta_alvaro, cuenta_stef, cuenta_alvaro]

In [ ]:
for cuenta in cuentas:
  print(f'El espacio de memoria es: {id(cuenta)}')
  print(cuenta)

El espacio de memoria es: 137944113750192
>>>Código: 16 -- Saldo: 500.0<<<
El espacio de memoria es: 137944113750960
>>>Código: 17 -- Saldo: 1000.0<<<
El espacio de memoria es: 137944113750192
>>>Código: 16 -- Saldo: 500.0<<<

In [ ]:
def desposita_a_todos(cuentas):
  for cuenta in cuentas:
    cuenta.deposita(100)

cuentas = [cuenta_alvaro, cuenta_stef, cuenta_alvaro]

In [ ]:
desposita_a_todos(cuentas)

In [ ]:
for cuenta in cuentas:
  print(f'El espacio de memoria es: {id(cuenta)}')
  print(cuenta)

El espacio de memoria es: 137944113750192
>>>Código: 16 -- Saldo: 700.0<<<
El espacio de memoria es: 137944113750960
>>>Código: 17 -- Saldo: 1100.0<<<
El espacio de memoria es: 137944113750192
>>>Código: 16 -- Saldo: 700.0<<<

In [ ]:
cuentas.insert(0,76)
for cuenta in cuentas:
  print(f'El espacio de memoria es: {id(cuenta)}')
  print(cuenta)

El espacio de memoria es: 137944541710928
76
El espacio de memoria es: 137944113750192
>>>Código: 16 -- Saldo: 700.0<<<
El espacio de memoria es: 137944113750960
>>>Código: 17 -- Saldo: 1100.0<<<
El espacio de memoria es: 137944113750192
>>>Código: 16 -- Saldo: 700.0<<<

In [ ]:
desposita_a_todos(cuentas)

AttributeError: ignored

# Tuplas

In [ ]:
tupla = ()
type(tupla)

tuple

In [ ]:
alvaro = ('Álvaro',39,1984)
stef = ('Stephany',37,1986)
pablo = ('Pablo', 50, 1973)

In [ ]:
alvaro[2]

1984

In [ ]:
pablo[0] = 'Paulo'

TypeError: ignored

In [ ]:
clientes = [alvaro,stef,pablo]

In [ ]:
clientes[1][1]

37

In [ ]:
clientes[1][1] = 36

TypeError: ignored

In [ ]:
clientes.append(('Jorge',23,2000))

In [ ]:
for cliente in clientes:
  print(cliente)

('Álvaro', 39, 1984)
('Stephany', 37, 1986)
('Pablo', 50, 1973)
('Jorge', 23, 2000)

In [ ]:
alvaro.index(39)

1

In [ ]:
clientes

[('Álvaro', 39, 1984),
 ('Stephany', 37, 1986),
 ('Pablo', 50, 1973),
 ('Jorge', 23, 2000)]

In [ ]:
len(clientes[0])

3

In [ ]:
range(len(clientes[0]))

range(0, 3)

In [ ]:
range(len(clientes))

range(0, 4)

In [ ]:
for i in range(len(clientes)):
  print(i, clientes[i][0])

0 Álvaro
1 Stephany
2 Pablo
3 Jorge

In [ ]:
list(enumerate(clientes, start=1000))

[(1000, ('Álvaro', 39, 1984)),
 (1001, ('Stephany', 37, 1986)),
 (1002, ('Pablo', 50, 1973)),
 (1003, ('Jorge', 23, 2000))]

In [ ]:
nuevos_clientes = list(enumerate(clientes, start=1000))

In [ ]:
for codigo, informacion in nuevos_clientes:
  print(codigo, informacion[2])

1000 1984
1001 1986
1002 1973
1003 2000

# Herencia y Polimorfismo

In [ ]:
class Cuenta:
  def __init__(self,codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self,valor):
    self._saldo += valor

  def pasa_mes(self):
    self._saldo *= 1.005

  def __str__(self):
    return f'>>>Código: {self._codigo} -- Saldo: {self._saldo}<<<'

In [ ]:
class CuentaCorriente(Cuenta):
  def pasa_mes(self):
    self._saldo -= 2

class CuentaAhorros(Cuenta):
  def pasa_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class CuentaInversiones(Cuenta):
  pass

In [ ]:
cuenta_alvaro = CuentaCorriente(16)
cuenta_alvaro.deposita(500)
cuenta_alvaro.pasa_mes()
cuenta_stef = CuentaCorriente(17)
cuenta_stef.deposita(1000)
cuenta_stef.pasa_mes()
cuenta_inversiones = CuentaInversiones(18)
cuenta_inversiones.deposita(500)
cuenta_inversiones.pasa_mes()

cuentas = [cuenta_alvaro, cuenta_stef,cuenta_inversiones]

In [ ]:
for cuenta in cuentas:
  print(cuenta)

>>>Código: 16 -- Saldo: 498<<<
>>>Código: 17 -- Saldo: 998<<<
>>>Código: 18 -- Saldo: 502.49999999999994<<<

### No crear arrays con el modulo array

In [ ]:
import array as arr
arr.array('d',[1,2.5])

array('d', [1.0, 2.5])

In [ ]:
numeros = arr.array('d',[1,2.5]).tolist()
numeros

[1.0, 2.5]

### Crear arrays con Numpy => Mejor práctica

In [ ]:
import numpy as np

numero = np.array([1,2.5])
numero

array([1. , 2.5])

In [ ]:
class CuentaSalario:
  def __init__(self,codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self,valor):
    self._saldo += valor

  def __str__(self):
    return f'>>>Código: {self._codigo} -- Saldo: {self._saldo}<<<'

In [ ]:
salario_alvaro = CuentaSalario(15)
salario_stephany = CuentaSalario(15)

In [ ]:
salario_alvaro == salario_stephany

False

In [ ]:
salarios = [salario_alvaro, salario_stephany]

for salario in salarios:
  print(salario)

>>>Código: 15 -- Saldo: 0<<<
>>>Código: 15 -- Saldo: 0<<<

In [ ]:
for salario in salarios:
  print(id(salario))

137944113741984
137944113750672

In [ ]:
class CuentaSalario:
  def __init__(self,codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self,otro):
    return self._codigo == otro._codigo

  def deposita(self,valor):
    self._saldo += valor

  def __str__(self):
    return f'>>>Código: {self._codigo} -- Saldo: {self._saldo}<<<'

In [ ]:
salario_alvaro = CuentaSalario(15)
salario_stephany = CuentaSalario(15)

for salario in salarios:
  print(id(salario))
  print(salario)

137944113741984
>>>Código: 15 -- Saldo: 0<<<
137944113750672
>>>Código: 15 -- Saldo: 0<<<

In [ ]:
salario_alvaro == salario_stephany

True

In [ ]:
corriente_alvaro = CuentaCorriente(15)

In [ ]:
corriente_alvaro == salario_alvaro

True

In [ ]:
class CuentaSalario:
  def __init__(self,codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self,otro):
    if type(otro) != CuentaSalario:
      return False
    return self._codigo == otro._codigo

  def deposita(self,valor):
    self._saldo += valor

  def __str__(self):
    return f'>>>Código: {self._codigo} -- Saldo: {self._saldo}<<<'

In [ ]:
salario_alvaro = CuentaSalario(15)
salario_stephany = CuentaSalario(15)
corriente_alvaro = CuentaCorriente(15)

In [ ]:
corriente_alvaro == salario_alvaro

False

In [ ]:
edades

[16, 19, 60, 72, 36, 19, 46, 36, 13]

In [ ]:
edades_menor_a_mayor = sorted(edades)

In [ ]:
edades_mayor_a_menor = sorted(edades, reverse=True)

In [ ]:
edades.sort()

In [ ]:
edades

[13, 16, 19, 19, 36, 36, 46, 60, 72]